@page
@model L00177804_Golf.Pages.Memberships.DeleteModifyModel

@{
    ViewData["Title"] = "DeleteModify";
}

<h1>DeleteModify</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Handicap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membership) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Handicap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
