@page
@model L00177804_Golf.Pages.MemberBookings.IndexModel

@{
    ViewData["Title"] = "Booking at";
}
<!-- CENTER ELEMENTS JUST-->
<div div class="container-md" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-12">
            <form method="get" class="form-group">
                <div class="input-group">
                    <input type="hidden" name="handler" value="search" />
                    <input type="text" id="AutoFill" name="CurrentFilter" placeholder="Search Member Bookings" value="@Model.CurrentFilter" class="form-control rounded" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Filter</button>
                        <a asp-page="./Index">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- DISPLAY TABLE FOR BOOKINGS-->
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Handicap
                        </th>
                        <th>
                            TEE Time
                        </th>
                        <th>
                            TEE Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Booking)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Handicap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL POP-UP FOR ERROR-->

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="ModalLabel">Hello</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align:center">
                @Model.AlertMess
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
@section scripts{

    <!-- SCRIPT TO RETURN LIST OF MEMBERS FROM DATABASE-->
    <script type="text/javascript">
        $(function () {
            $("#AutoFill").autocomplete({
                source: 'MemberBookings?handler=Names',
                minLength: 3
            });
        });
    </script>

        @if (!string.IsNullOrEmpty(Model.AlertMess))
        {
            <script type="text/javascript">
                window.onload = function () {
                    $("#Modal").modal("show")
                };
            </script>
        }

}

